<form autocomplete="off">
  <div class="actor header flexrow">
    <div>
      <a class="item-control resync"><i class="fas fa-sync"></i></a>
    </div>
    {{#if user.isGM}}
    <div class="item-controls flexrow">
      <div class="item-control">
        <button type="button" class="deal-xp" title="{{localize 'ADARKDEEP.dialog.xp.deal'}}">{{localize 'ADARKDEEP.dialog.xp.label'}}</button>
      </div>
      <div class="item-control">
        <button type="button" class="select-actors" title="{{localize 'ADARKDEEP.dialog.partyselect'}}"><i class="fas fa-users"></i></button>
      </div>
    </div>
    {{/if}}
  </div>
  <ol class="actor-list">
    {{#each data.documents as |e|}} {{#if e.data.flags.adarkdeep.party}}
    <li class="actor flexrow" data-actor-id="{{e.id}}">
      <div class="field-img">
        <img src="{{e.img}}" />
        <div class="img-btns flexrow">
          <button type="button" data-action="open-sheet"><i class="fas fa-user"></i></button>
        </div>
      </div>
      <div class="fields">
        <div class="flexrow field-row">
          <div title="{{e.name}}" class="field-name flex2">
            {{e.name}}
          </div>
          <div class="field-long" title="{{localize 'ADARKDEEP.Health'}}"
		  {{#if (lte e.data.data.hp.value -1)}}
			style="background-color:red;color:white" 
		  {{else}}
			{{#if (lte (truedivide e.data.data.hp.value e.data.data.hp.max) 0.25)}}
			style="background-color:darkred;color:white"
			{{else}}
              {{#if (lte (truedivide e.data.data.hp.value e.data.data.hp.max) 0.5)}}
			    style="background-color:darkorange"
			  {{else}}
                {{#if (lte (truedivide e.data.data.hp.value e.data.data.hp.max) 0.75)}}
  			      style="background-color:goldenrod"
			    {{else}}
		          style="background-color:chartreuse"
			    {{/if}}			  
		      {{/if}}
			{{/if}}
		  {{/if}}>
            <i class="fas fa-heart"></i>
            {{e.data.data.hp.value}}/{{e.data.data.hp.max}}
          </div>
</background-color>
          <div class="field-short" title="{{localize 'ADARKDEEP.ArmorClass'}}">
            <i class="fas fa-shield-alt"></i>
            <strong>{{e.data.data.ac.value}}</strong> <sub>{{e.data.data.ac.naked}}</sub>
          </div>
        </div>
        <div class="flexrow field-row">
          <div class="field-short" title="{{localize 'ADARKDEEP.HitWith20'}}">
            <i class="fas fa-crosshairs"></i>
            {{subtractint e.data.data.achitby20.value 5}}
          </div>
          {{#if (eq e.data.type 'character')}}
          <div class="field-short" title="{{localize 'ADARKDEEP.Melee'}}">
            <i class="fas fa-fist-raised"></i>
            {{add e.data.data.scores.str.tohit e.data.data.thac0.mod.melee}}
          </div>
          <div class="field-short" title="{{localize 'ADARKDEEP.Missile'}}">
            <i class="fas fa-bullseye"></i>
            {{add e.data.data.scores.dex.missile e.data.data.thac0.mod.missile}}
          </div>
          {{/if}}
          <div class="field-short flex2">
            <i class="fas fa-shoe-prints" title="{{localize 'ADARKDEEP.movement.base'}}"></i>
            <span title="{{localize 'ADARKDEEP.movement.encounter.long'}}">{{divide (mult e.data.data.movement.base 3) 10}}</span> <sub
              title="{{localize 'ADARKDEEP.movement.exploration.long'}}">{{e.data.data.movement.base}}</sub>
          </div>
          {{#if (eq e.data.type 'character')}}
          <div class="field-short flex2">
            <i class="fas fa-weight-hanging" title="{{localize 'ADARKDEEP.Encumbrance'}}"></i>
            {{roundWeight e.data.data.encumbrance.value}}k
          </div>
          {{/if}}
        </div>
        <div class="flexrow field-row">
          <div class="field-longer flexrow">
            {{#each e.data.data.saves as |s i|}}
            <span title="{{lookup @root.config.saves_long i}}">{{lookup @root.config.saves_short i}} {{s.value}}</span>
            {{/each}}
            {{#if (eq e.data.type 'character')}}<span><i class="fas fa-magic"
                title="{{localize 'ADARKDEEP.saves.magic.long'}}"></i>{{mod e.data.data.scores.wis.mindattackadj}}</span>{{/if}}
          </div>
        </div>
      </div>
    </li>
    {{/if}} {{/each}}
  </ol>
</form>