<form autocomplete="off">
  <div class="form-group">
    <label for="spellcaster">{{localize "ADARKDEEP.DualClass"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="data.details.dualclass" id="dualclass" {{checked data.details.dualclass}}
        data-dtype="Boolean" />
    </div>
  </div>  
  <div class="form-group">
    <label for="spellcaster">{{localize "ADARKDEEP.MultiClass"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="data.details.multiclass" id="multiclass" {{checked data.details.multiclass}}
        data-dtype="Boolean" />
    </div>
  </div>
{{#if data.details.multiclass}}
  <div class="form-group">
    <label for="spellcaster">{{localize "ADARKDEEP.MultiClass3"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="data.details.multiclass3" id="multiclass3" {{checked data.details.multiclass3}}
        data-dtype="Boolean" />
    </div>
  </div>
{{/if}}
  <div class="form-group">
    <label for="spellcaster">{{localize "ADARKDEEP.Spellcaster"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="data.spells.enabled" id="spellcaster" {{checked data.spells.enabled}}
        data-dtype="Boolean" />
    </div>
  </div>
{{#if data.details.multiclass}}
  <div class="form-group">
    <label for="spellcaster">{{localize "ADARKDEEP.Spellcaster"}} 2</label>
    <div class="form-fields">
      <input type="checkbox" name="data.spells2.enabled" id="spellcaster2" {{checked data.spells2.enabled}}
        data-dtype="Boolean" />
    </div>
  </div>
{{/if}}
{{#if data.details.dualclass}}
  <div class="form-group">
    <label for="spellcaster">{{localize "ADARKDEEP.Spellcaster"}} 2</label>
    <div class="form-fields">
      <input type="checkbox" name="data.spells2.enabled" id="spellcaster2" {{checked data.spells2.enabled}}
        data-dtype="Boolean" />
    </div>
  </div>
{{/if}}
{{#if data.details.multiclass3}}
  <div class="form-group">
    <label for="spellcaster">{{localize "ADARKDEEP.Spellcaster"}} 3</label>
    <div class="form-fields">
      <input type="checkbox" name="data.spells3.enabled" id="spellcaster3" {{checked data.spells3.enabled}}
        data-dtype="Boolean" />
    </div>
  </div>
{{/if}}
  <div class="form-group">
    <label for="retainer">{{localize "ADARKDEEP.Retainer"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="data.retainer.enabled" id="retainer" {{checked data.retainer.enabled}}
        data-dtype="Boolean" />
    </div>
  </div>
  <div class="form-group">
    <label for="retainer">{{localize "ADARKDEEP.scores.str.except"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="data.scores.str.exenabled" id="exceptstr" {{checked data.scores.str.exenabled}}
        data-dtype="Boolean" />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "ADARKDEEP.InitiativeBonus"}}</label>
    <div class="form-fields">
      <input type="text" name="data.initiative.mod" id="initiative" value="{{data.initiative.mod}}"
        data-dtype="Number" />
    </div>
  </div>
  {{#if (eq this.type 'character')}}
  <div class="form-group">
    <label>{{localize "ADARKDEEP.details.experience.next"}}</label>
    <div class="form-fields">
      <input type="text" name="data.details.xp.next" id="experiencenext" value="{{data.details.xp.next}}"
        data-dtype="Number" />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "ADARKDEEP.details.experience.bonus"}} (%)</label>
    <div class="form-fields">
      <input type="text" name="data.details.xp.bonus" id="experience" value="{{data.details.xp.bonus}}"
        data-dtype="Number" />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "ADARKDEEP.details.experience.share"}} (%)</label>
    <div class="form-fields">
      <input type="text" name="data.details.xp.share" id="experience-share" value="{{data.details.xp.share}}"
        data-dtype="Number" />
    </div>
  </div>
{{#if data.details.dualclass}}
  <div class="form-group">
    <label>{{localize "ADARKDEEP.details.experience.next"}} 2</label>
    <div class="form-fields">
      <input type="text" name="data.details.xp2.next" id="experience2next" value="{{data.details.xp2.next}}"
        data-dtype="Number" />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "ADARKDEEP.details.experience.bonus"}} 2 (%)</label>
    <div class="form-fields">
      <input type="text" name="data.details.xp2.bonus" id="experience2" value="{{data.details.xp2.bonus}}"
        data-dtype="Number" />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "ADARKDEEP.details.experience.share"}} 2 (%)</label>
    <div class="form-fields">
      <input type="text" name="data.details.xp2.share" id="experience2-share" value="{{data.details.xp2.share}}"
        data-dtype="Number" />
    </div>
  </div>
{{/if}}
{{#if data.details.multiclass}}
  <div class="form-group">
    <label>{{localize "ADARKDEEP.details.experience.next"}} 2</label>
    <div class="form-fields">
      <input type="text" name="data.details.xp2.next" id="experience2next" value="{{data.details.xp2.next}}"
        data-dtype="Number" />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "ADARKDEEP.details.experience.bonus"}} 2 (%)</label>
    <div class="form-fields">
      <input type="text" name="data.details.xp2.bonus" id="experience2" value="{{data.details.xp2.bonus}}"
        data-dtype="Number" />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "ADARKDEEP.details.experience.share"}} 2 (%)</label>
    <div class="form-fields">
      <input type="text" name="data.details.xp2.share" id="experience2-share" value="{{data.details.xp2.share}}"
        data-dtype="Number" />
    </div>
  </div>
{{/if}}
{{#if data.details.multiclass3}}
  <div class="form-group">
    <label>{{localize "ADARKDEEP.details.experience.next"}} 3</label>
    <div class="form-fields">
      <input type="text" name="data.details.xp3.next" id="experience3next" value="{{data.details.xp3.next}}"
        data-dtype="Number" />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "ADARKDEEP.details.experience.bonus"}} 3 (%)</label>
    <div class="form-fields">
      <input type="text" name="data.details.xp3.bonus" id="experience3" value="{{data.details.xp3.bonus}}"
        data-dtype="Number" />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "ADARKDEEP.details.experience.share"}} 3 (%)</label>
    <div class="form-fields">
      <input type="text" name="data.details.xp3.share" id="experience3-share" value="{{data.details.xp3.share}}"
        data-dtype="Number" />
    </div>
  </div>
{{/if}}
  <div class="form-group">
    <label>{{localize "ADARKDEEP.MeleeBonus"}}</label>
    <div class="form-fields">
      <input type="text" name="data.thac0.mod.melee" id="melee" value="{{data.thac0.mod.melee}}" data-dtype="Number" />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "ADARKDEEP.MissileBonus"}}</label>
    <div class="form-fields">
      <input type="text" name="data.thac0.mod.missile" id="missile" value="{{data.thac0.mod.missile}}"
        data-dtype="Number" />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "ADARKDEEP.ArmorClassBonus"}}</label>
    <div class="form-fields">
      {{#if config.ascendingAC}}
      <input type="text" name="data.aac.mod" id="ac" value="{{data.aac.mod}}" data-dtype="Number" />
      {{else}}
      <input type="text" name="data.ac.mod" id="ac" value="{{data.ac.mod}}" data-dtype="Number" />
      {{/if}}
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "ADARKDEEP.Encumbrance"}}</label>
    <div class="form-fields">
      <input type="text" name="data.encumbrance.max" id="encumbrance" value="{{data.encumbrance.max}}"
        data-dtype="Number" {{#unless user.isGM}}disabled{{/unless}} />
    </div>
  </div>
  <div class="form-group">
    <label for="movementAuto">{{localize "ADARKDEEP.Setting.MovementAuto"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="data.config.movementAuto" id="movementAuto" {{checked data.config.movementAuto}}
        data-dtype="Boolean" {{#unless user.isGM}}disabled{{/unless}} />
    </div>
  </div>
  {{else}}
  <div class="form-group">
    <label for="enableInventory">{{localize "ADARKDEEP.Setting.EnableInventory"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="data.config.enableInventory" id="enableInventory" {{checked data.config.enableInventory}}
        data-dtype="Boolean" {{#unless user.isGM}}disabled{{/unless}} />
    </div>
  </div>
  {{/if}}
  <footer class="sheet-footer">
    <button type="submit">
      <i class="fas fa-save"></i>{{localize "Save Changes"}}
    </button>
  </footer>
</form>