<div class="profile">
  <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" />
  <div class="modifiers-btn">
    {{#unless isNew}}
    <a data-action="modifiers" title="{{localize 'ADARKDEEP.Modifiers'}}"><i class="fas fa-book"></i></a>
    {{else}}
    <a class="blinking" data-action="generate-scores" title="{{localize 'ADARKDEEP.dialog.generateScores'}}"><i
        class="fa fa-dice"></i></a>
    {{/unless}}
  </div>
</div>
<section class="header-details flexrow">
  <h1 class="charname">
    <input name="name" type="text" value="{{name}}" placeholder="{{localize 'ADARKDEEP.details.name'}}"
      data-dtype="String" />
  </h1>
  <ul class="summary flexrow">
    {{#if data.retainer.enabled}}
    <li>
      <input type="text" name="data.retainer.wage" value="{{data.retainer.wage}}" data-dtype="String" />
      <label>{{localize 'ADARKDEEP.RetainerWage'}}</label>
    </li>
    {{else}}
    <li>
      <input type="text" name="data.details.race" value="{{data.details.race}}" data-dtype="String" />
      <label>{{localize 'ADARKDEEP.details.race'}}</label>
    </li>
    {{/if}}
    <li>
      <input type="text" name="data.details.alignment" value="{{data.details.alignment}}" data-dtype="String" />
      <label>{{localize 'ADARKDEEP.details.alignment'}}</label>
    </li>
  </ul>
  <ul class="summary flexrow">
    <li class="flex3">
      <input type="text" name="data.details.class" value="{{data.details.class}}" data-dtype="String" />
      <label>{{localize 'ADARKDEEP.details.class'}}</label>
    </li>
    <li class="{{#if (gt data.details.xp.value data.details.xp.next)}}notify{{/if}}">
      <input type="text" name="data.details.level" value="{{data.details.level}}" data-dtype="Number" />
      <label>{{localize 'ADARKDEEP.details.level'}}</label>
    </li>
    <li class="flex2">
      <input type="text" name="data.details.xp.value" value="{{data.details.xp.value}}" data-dtype="Number" />
      <label>{{localize 'ADARKDEEP.details.experience.base'}}</label>
      {{#if data.details.xp.bonus}}
      <span class="xp-bonus">+{{data.details.xp.bonus}}%</span>
      {{/if}}
    </li>
  </ul>
{{#if data.details.multiclass}}
  <ul class="summary flexrow">
    <li class="flex3">
      <input type="text" name="data.details.class2" value="{{data.details.class2}}" data-dtype="String" />
      <label>{{localize 'ADARKDEEP.details.class'}} 2</label>
    </li>
    <li class="{{#if (gt data.details.xp2.value data.details.xp2.next)}}notify{{/if}}">
      <input type="text" name="data.details.level2" value="{{data.details.level2}}" data-dtype="Number" />
      <label>{{localize 'ADARKDEEP.details.level'}} 2</label>
    </li>
    <li class="flex2">
      <input type="text" name="data.details.xp2.value" value="{{data.details.xp2.value}}" data-dtype="Number" />
      <label>{{localize 'ADARKDEEP.details.experience.base'}} 2</label>
      {{#if data.details.xp2.bonus}}
      <span class="xp-bonus">+{{data.details.xp2.bonus}}%</span>
      {{/if}}
    </li>
  </ul>
{{/if}}
{{#if data.details.dualclass}}
  <ul class="summary flexrow">
    <li class="flex3">
      <input type="text" name="data.details.class2" value="{{data.details.class2}}" data-dtype="String" />
      <label>{{localize 'ADARKDEEP.details.class'}} 2</label>
    </li>
    <li class="{{#if (gt data.details.xp2.value data.details.xp2.next)}}notify{{/if}}">
      <input type="text" name="data.details.level2" value="{{data.details.level2}}" data-dtype="Number" />
      <label>{{localize 'ADARKDEEP.details.level'}} 2</label>
    </li>
    <li class="flex2">
      <input type="text" name="data.details.xp2.value" value="{{data.details.xp2.value}}" data-dtype="Number" />
      <label>{{localize 'ADARKDEEP.details.experience.base'}} 2</label>
      {{#if data.details.xp2.bonus}}
      <span class="xp-bonus">+{{data.details.xp2.bonus}}%</span>
      {{/if}}
    </li>
  </ul>
{{/if}}
{{#if data.details.multiclass3}}
  <ul class="summary flexrow">
    <li class="flex3">
      <input type="text" name="data.details.class3" value="{{data.details.class3}}" data-dtype="String" />
      <label>{{localize 'ADARKDEEP.details.class'}} 3</label>
    </li>
    <li class="{{#if (gt data.details.xp3.value data.details.xp3.next)}}notify{{/if}}">
      <input type="text" name="data.details.level3" value="{{data.details.level3}}" data-dtype="Number" />
      <label>{{localize 'ADARKDEEP.details.level'}} 3</label>
    </li>
    <li class="flex2">
      <input type="text" name="data.details.xp3.value" value="{{data.details.xp3.value}}" data-dtype="Number" />
      <label>{{localize 'ADARKDEEP.details.experience.base'}} 3</label>
      {{#if data.details.xp3.bonus}}
      <span class="xp-bonus">+{{data.details.xp3.bonus}}%</span>
      {{/if}}
    </li>
  </ul>
{{/if}}
</section>